<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
    <img src="./assets/icon/logoPg3.png" class="logo" alt="logoPg3">
</ion-header>

<ion-content class="auth-form">
    <ion-grid>
        <ion-row>
            <ion-col class="background" align-self-center>
                <form>
                    <ion-item>
                        <ion-title text-align="center">Log In</ion-title>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label position="floating">Email</ion-label>
                        <ion-input type="text" required></ion-input>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type="password" required></ion-input>
                    </ion-item>
                    <ion-row>
                        <ion-col>
                            <ion-button type="submit" color="danger" expand="block" size="small">Sign In</ion-button>
                            <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>