<ion-header>
    <ion-toolbar>
        <img src="./assets/icon/logoPg3.png" class="logo" alt="logoPg3">
    </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
    <ion-grid>
        <ion-row>
            <ion-col class="background" align-self-center>
                <span class="header">Create account</span>
                <ion-button [routerLink]="['/registration']" expand="block" size="small" color="warning"> Sign In</ion-button>
                <span class="divider line one-line">or</span>
                <span class="header">Already a user?</span>
                <ion-button [routerLink]="['/login']" expand="block" size="small" color="danger">Log In</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>